sudo: false
language: node_js
node_js:
  - 14 # use nodejs v10 LTS
cache:
  directories:
    - node_modules
branches:
  only:
    - master # build master branch only
install:
    - npm install
script:
  - hexo generate # generate static files
deploy:	
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: true
  on:
    branch: master
  local-dir: public